
// CSS Resets
*{margin:0;padding:0;}
.home {
   padding:0px;
   margin:0px; 

  & #masthead , & footer , & .screen-reader-text , & .entry-header{
      display: none;
  }
}

// Globals

$blue : #3FA2F7;
$lightblue : #297FCA;
$white : #ffffff;
$header-font-size : 52px;
$ptext-font-size : 20px;
$main-font-family : 'Roboto', sans-serif;
$margin-bottom: 20px;

@media only screen and (min-width: 770px) {
    /* For desktop: */
   .hideondesktop{display: none;}
}

@media only screen and (max-width: 768px) {
     /* For mobile: */
    .hideonmobile{display: none;}
}


// Main container
.maincontainer{
    width: 1440px;
    left: 0px;
    top: 0px;
    margin: 0 auto;
    border-radius: 0px;    

    @media only screen and (max-width: 768px) {
        /* For mobile layouts */
         width: 95%;
    }
}

// left box with content text and some icons
.leftbox{
    position: relative;
    left: 250px;
    top: 150px;

    @media only screen and (max-width: 768px) {
        /* For mobile layouts */
        padding-right:20px;
        left: 20px;
        top: 0px;
    }

    @media only screen and (device-width: 768px) {
       /* For general iPad layouts */
       padding-right:0px;
    }

    &__staricon{
        margin-top: 170px;
        @media only screen and (max-width: 768px) {
        /* For mobile layouts */
            margin-top: 45px;
        }
    }

    &__header-text{
        font-family: $main-font-family;
        font-weight: 300;
        font-size: $header-font-size;
        line-height: 58px;
        letter-spacing: -2px;
        color:$blue;
        margin-bottom: $margin-bottom;
    }

    &__content-text{
        font-family: $main-font-family;
        font-weight: 400;
        font-size: $ptext-font-size;
        line-height: 30px;
        color:$blue;
        margin-bottom: $margin-bottom;
        opacity: 0.8;
        mix-blend-mode: normal;
    }

    &__btn a{
        background-color: $blue;
        border-radius: 4px;
    }

    &__btn-text{
        font-family:$main-font-family;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        padding: 10px;
        position: relative;
        bottom: 2px;
    }

    &__btn-icon{
        width: 20px;
        height: 20px;
        top: calc(50% - 20px/2 + 0px)
    }
}



// right box with phone
.rightbox{

    @media only screen and (device-width: 768px) {
        /* For general iPad layouts */
        padding-right:0px;
        margin-left: 20px !important;
     }

   &__phone-img{
        position: absolute;
        top: calc(50% - 853px / 2 + 330px);
        margin-left: 50px;

        @media only screen and (max-width: 768px) {
            /* For mobile layouts */
            position: relative;
            top: calc(50% - 853px / 2 + 210px);
            margin: 10px;
        }
        
   } 
}